body{
    background: linear-gradient(to right, #a100ff, #ff0080 );
    align-items: center;
    display: flex;
    justify-content: center;    
    height: 100vh;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box{
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    height: 330px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

h1{
    margin-top: 2px;
}

.b1b2{
    display: flex;
    margin-bottom: 15px;
}

.b1b2 button{
    flex: 1;
    padding: 10px;
    border: 1px;
    cursor: pointer;
    font-size: 16px;
}

.b1b2 .b1{
    background: linear-gradient(to right, #a100ff,#ff0080);
    color: white;
    border-radius: 5px;
}

input{
    width: 290px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot{
    text-align: left;
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
}

.b3{
    width: 100%;
    padding: 10px;
    border: none;
    background: linear-gradient(to right,#a100ff,#ff0080);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

p{
    margin-top: 10px;
}

p a{
    color: #ff0080;
    text-decoration: none;
}
